src/power-automate/session-reminder/session-reminder.flow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "metadata": {
    "name": "CLH – Workshop Session Reminder",
    "description": "Runs daily (scheduled). Finds confirmed enrollments for workshops starting within the next 48 hours that have not yet had a reminder sent, and sends a reminder email to each participant.",
    "trigger": "Scheduled – Daily at 08:00 UTC",
    "environment": "Power Platform",
    "version": "1.0.0"
  },
  "definition": {
    "contentVersion": "1.0.0.0",
    "triggers": {
      "Scheduled_Daily_Reminder_Check": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Day",
          "interval": 1,
          "startTime": "2024-01-01T08:00:00Z",
          "timeZone": "UTC"
        }
      }
    },
    "actions": {
      "Calculate_Date_Window": {
        "runAfter": {},
        "type": "Compose",
        "inputs": {
          "windowStart": "@utcNow()",
          "windowEnd": "@addHours(utcNow(), 48)"
        }
      },
      "Get_Enrollments_Needing_Reminders": {
        "runAfter": {
          "Calculate_Date_Window": ["Succeeded"]
        },
        "type": "OpenApiConnection",
        "inputs": {
          "host": {
            "connectionName": "shared_commondataserviceforapps",
            "operationId": "ListRecords"
          },
          "parameters": {
            "entityName": "clh_enrollments",
            "$filter": "clh_status eq 100000001 and clh_remindersent eq false",
            "$expand": "clh_workshop($select=clh_name,clh_startdate,clh_location,clh_deliveryformat,clh_status;$filter=clh_startdate ge @{outputs('Calculate_Date_Window')?['windowStart']} and clh_startdate le @{outputs('Calculate_Date_Window')?['windowEnd']})",
            "$select": "clh_enrollmentid,clh_anonymousname,clh_anonymousemail,clh_confirmationcode,clh_remindersent"
          }
        }
      },
      "Loop_Through_Enrollments": {
        "runAfter": {
          "Get_Enrollments_Needing_Reminders": ["Succeeded"]
        },
        "type": "Foreach",
        "foreach": "@outputs('Get_Enrollments_Needing_Reminders')?['body/value']",
        "actions": {
          "Condition_Workshop_In_Window": {
            "type": "If",
            "expression": {
              "and": [
                {
                  "not": {
                    "equals": ["@item()?['clh_workshop/clh_workshopid']", null]
                  }
                },
                {
                  "not": {
                    "equals": ["@item()?['clh_anonymousemail']", ""]
                  }
                }
              ]
            },
            "actions": {
              "Send_Reminder_Email": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_office365",
                    "operationId": "SendEmailV2"
                  },
                  "parameters": {
                    "emailMessage/To": "@item()?['clh_anonymousemail']",
                    "emailMessage/Subject": "@concat('Reminder: Your workshop starts soon – ', item()?['clh_workshop/clh_name'])",
                    "emailMessage/Body": "<html><body style=\"font-family: Segoe UI, sans-serif; color: #1a1a1a; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background: #1b5e99; padding: 24px 32px;\">\n    <h1 style=\"color: #fff; margin: 0; font-size: 22px;\">Community Learning Hub</h1>\n  </div>\n  <div style=\"padding: 32px;\">\n    <p>Hi @{item()?['clh_anonymousname']},</p>\n    <p>Just a friendly reminder that your workshop is coming up soon!</p>\n    <div style=\"background: #f4f7fb; border-radius: 8px; padding: 20px; margin: 20px 0;\">\n      <h2 style=\"margin-top: 0; color: #1b5e99;\">@{item()?['clh_workshop/clh_name']}</h2>\n      <p><strong>Date &amp; Time:</strong> @{formatDateTime(item()?['clh_workshop/clh_startdate'], 'dddd, d MMMM yyyy \\a\\t h:mm tt')}</p>\n      @{if(empty(item()?['clh_workshop/clh_location']), '', concat('<p><strong>Location / Link:</strong> ', item()?['clh_workshop/clh_location'], '</p>'))}\n      <p><strong>Your confirmation code:</strong> <code>@{item()?['clh_confirmationcode']}</code></p>\n    </div>\n    <p>We look forward to seeing you there. If you are unable to attend, please let us know as soon as possible so we can offer your spot to someone on the waitlist.</p>\n    <p style=\"margin-top: 32px;\">See you soon,<br/><strong>The Community Learning Hub Team</strong></p>\n  </div>\n</body></html>"
                  }
                }
              },
              "Mark_Reminder_Sent": {
                "runAfter": {
                  "Send_Reminder_Email": ["Succeeded"]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord"
                  },
                  "parameters": {
                    "entityName": "clh_enrollments",
                    "recordId": "@item()?['clh_enrollmentid']",
                    "item/clh_remindersent": true
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "connections": {
    "shared_commondataserviceforapps": {
      "connectionId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps/connections/shared_commondataserviceforapps",
      "connectionName": "shared_commondataserviceforapps",
      "id": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
    },
    "shared_office365": {
      "connectionId": "/providers/Microsoft.PowerApps/apis/shared_office365/connections/shared_office365",
      "connectionName": "shared_office365",
      "id": "/providers/Microsoft.PowerApps/apis/shared_office365"
    }
  }
}
